<% if @artist.errors.full_messages.any? %>
      <ul>
	     <% @artist.errors.full_messages.each do |error_message| %>
	       <li><%= error_message%></li> <br />
	      <% end %>
       <ul>
<% end %>

    <h2 class="create_new_art">Create New Art </h2>
	<%=render "form", artist: @artist %>

