#artdisplay {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	min-width: 275px;
	vertical-align: top;
	height:300px;
	width:250px;

}

.center {
	text-align: center;
}

span {
	float: left;
}

section:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

#artist {
	margin-left: 20em;
	margin-top: 4em;
	font: normal 18px/1 Verdana, Helvetica;
}
.file_field{
	font: normal 15px/1 Verdana, Helvetica;

}
#artist_submit_button{
	width:220px;
	margin-bottom: 10em;
}
.create_new_art{
	float:left;
	margin-top: 1.5em;
	margin-left: 1em;
}


#mission {
	margin: 70px 0 0 28px;
	position: absolute;
	border: 3px solid black;
	border-radius: 10%;
	float: left;
	width: 234px;
	padding: 29px;
}

